<!DOCTYPE html>
<html>
<head>
  <title>Green Abyss</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="theme-color" content="#000000">
  <meta name="msapplication-navbutton-color" content="#000000">

  <script>
  window.WebVRConfig = {
    TOUCH_PANNER_DISABLED: true,
    ROTATE_INSTRUCTIONS_DISABLED: true,
    CARDBOARD_UI_DISABLED: true,
    BUFFER_SCALE: 1,
    ENABLE_DEPRECATED_API: false,
    FORCE_ENABLE_VR: false
  };
  </script>
  <style>
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
canvas {
}
  </style>
</head>
<body>
  <script type="text/javascript" src="<%= bundleUrl %>"></script>
</body>
</html>
